		
		body {
			width: 960px;
			margin: 2em auto;
			font-family: Arial, sans-serif;
			font-size: 16px;
			line-height: 1.4;
		}

		h1 {
			font-size: 2em;
			font-weight: normal;
			margin: 0 0 1rem 0;
		}
		section {
			padding: 2rem;
			border: 1px solid #ccc;
			margin: 4rem 0;
			background-color: #fff;
		}

		aside {
			font-size: 24px;
			font-family: Georgia, Serif;
			font-style: italic;
			background-color: #aaa;
			color: #fff;
			padding: 1.5rem;
			width: 15rem;
			float: right;
		}

		aside#two {
			position: absolute;
			bottom: -233px;
			right: 240px;
		}
	
		aside#three {
			color: green;
			position: fixed;
			top: 0px;
			right: 0px;
		}

		aside#four {
			position: absolute;
			background-color: red;
			right: 550px;
			top: 1950px;
			z-index: 100;
		}

		aside#five {
			position: absolute;
			background-color: black;
			right: 540px;
			top: 1960px;
		}

		

