body{font-family:'Raleway', sans-serif; background-color: lightcyan; font-size: 20px;}

.subsection {
	background-color: lightpink}

.chorus { 
		text-decoration: underline;
		font-color:midnightblue; 
	}
	


