h1 {
	font-family: 'Comfortaa', cursive;
	font-size: 45pt;
	color: #191970;
	text-align: center;
}

h2 {
	font-family: 'Comfortaa', cursive;
	font-size: 35pt;
	color: #191970;
	text-align: center;
}

#packer-website{
	position: relative;
	margin-left: 120px;
	width: 300px;
	height: auto;
}

a#btn_packers:hover {
	opacity: 0.8;
}

p.one {
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
	margin-left: 120px;
	margin-right: 990px;
}

#vogue-website{
	position: relative;
	margin-left: 120px;
	margin-top: 40px;
	margin-bottom: 32px;
	width: 300px;
	height: auto;
}

a#btn_vogue:hover {
	opacity: 0.8;
}

p.two {
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
	margin-top: -15px;
	margin-left: 120px;
	margin-right: 990px;
}

#rupaul-website{
	position: relative;
	margin-left: 500px;
	bottom: 823px;
	width: 300px;
	height: auto;
}

a#btn_rupaul:hover {
	opacity: 0.8;
}

p.three {
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
	margin-left: 500px;
	margin-right: 600px;
	margin-top: -810px;
	bottom: 700px;
}

#fabulous-website{
	position: relative;
	margin-left: 500px;
	bottom: -55px;
	width: 300px;
	height: auto;
}

a#btn_fabulous:hover {
	opacity: 0.8;
}


p.four {
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
	margin-left: 500px;
	margin-right: 600px;
	bottom: -110px;
	margin-top: 75px;
}

#button-website{
	position: relative;
	border-style: solid;
	border-width: thin;
	width: 300px;
	height: auto;
	margin-left: 880px;
	margin-right: 700px;
	margin-top: -818px;
	bottom: 366px;
}

a#btn_button:hover {
	color: #FFC0CB;
}

p.five {
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
	margin-left: 880px;
	margin-right: 300px;
	margin-top: -340px;
}

