body {
	background-size: 3980px;
	background-repeat: no-repeat;
	width: auto;
	height: 100%;
	background-image: url("../images/green-gradient-copy.jpg")
   }

h1 {
	font-family: "Alfa Slab One";
	font-size: 45pt;
	color: #FFFFFF;
	letter-spacing: 6px;
	text-align: center;
}

span {
	font-family: "Alfa Slab One";
	font-size: 45pt;
	color: #f3bb16;
	letter-spacing: 6px;
	text-align: center;
}

#helmets{
	position: relative;
	width: 1500px;
	height: auto;
	float: center;
	left: -30px;
	
}

.square {
	position: absolute;
	height: 6700px;
  	width: 15px;
  	background-color: #FFFFFF;
  	display: block;
  	top: 240px;
  	left: 0;
  	right: 0;
  	bottom: 240px;
  	padding-bottom: 160px;
  	margin: 0 auto;

}

 p.left{
	position: relative;
	font-size: 15px;
	font-family: "Kanit", sans-serif;
	color: #FFFFFF;
	margin-left: -400px;
	margin-right: 70px;	
}

.yellow-square-left{
	position: relative;
	height: 11px;
  	width: 57px;
  	background-color: #f3bb16;
  	display: block;
  	right: 57px;
  	top: 43px;
  	
}


p.right{
	position: relative;
	font-size: 15px;
	font-family: "Kanit", sans-serif;
	color: #FFFFFF;
	margin-left: 87px;
	margin-right: -400px;	
}

.yellow-square-right{
	position: relative;
	height: 11px;
  	width: 57px;
  	background-color: #f3bb16;
  	display: block;
  	left: 15px;
  	top: 185px;
}

@media screen and (max-width: 500px) {

	body {
		background-image: url("../images/green-gradient-copy.jpg")
	}

}

@media screen and (max-width: 600px) {

	h1 {
		font-size: 40px;
		font-family: "Alfa Slab One";
		color: #FFFFFF;
	}

	span {
		font-size: 40px;
		font-family: "Alfa Slab One";
		color: #f3bb16;
	}

	p.left {
		font-size: 11px;
		font-family: "Kanit", sans-serif;
		color: #FFFFFF;
		left: 100px;
		right: 600px;
	}

	p.right {
		font-size: 11px;
		font-family: "Kanit", sans-serif;
		color: #FFFFFF;
	}
}

@media screen and (max-width: 600px) {
	.square{
		display: none;

	}


