body {
	background-size: 2200px;
	width: auto;
	height: 4150px;
	background-image: url("../images/green-gradient.jpg");
   }

h1 {
	font-family: "Alfa Slab One";
	font-size: 45pt;
	color: #FFFFFF;
	letter-spacing: 6px;
	text-align: center;
}

span {
	font-family: "Alfa Slab One";
	font-size: 45pt;
	color: #f3bb16;
	letter-spacing: 6px;
	text-align: center;
}

#modern-helmet{
	position: absolute;
	width: 500px;
	height: auto;
	float: center;
	right: 75%;
	
}

#modern-helmet-right{
	position: absolute;
	width: 500px;
	height: auto;
	float: center;
	left: 75%;
	
}

.square {
	float: center;
	position: relative;
	height: 2850px;
  	width: 15px;
  	background-color: #FFFFFF;
  	display: block;
  	padding-top: 3cm;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 130px;

}



 p{
	position: relative;
	font-size: 24px;
	font-family: "Kanit", sans-serif;
	color: #FFFFFF;
	line-height: 27px;
	margin-left: 417px;
	margin-right: 783px;
	bottom: 2950px;
	
}

.yellow-square{
	position: relative;
	height: 14px;
  	width: 64px;
  	background-color: #f3bb16;
  	display: block;
  	margin-left: 641px;
  	margin-right: auto;
  	top: -2902px;
}

p.right{
	position: relative;
	font-size: 24px;
	font-family: "Kanit", sans-serif;
	color: #FFFFFF;
	line-height: 27px;
	left: 380px;
	right: 417px;
	top: -3000px;
}

.yellow-square-right{
	position: relative;
	height: 14px;
  	width: 64px;
  	background-color: #f3bb16;
  	display: block;
  	margin-left: auto;
  	margin-right: 641px;
  	top: -2902px;
}

#faded-helmet{
	position: absolute;
	width: 500px;
	height: auto;
	float: center;
	right: 75%;
	bottom: -2150px;	
}
#faded-helmet-right{
	position: absolute;
	width: 500px;
	height: auto;
	float: center;
	left: 75%;
	bottom: -2150px;	
}

#old-helmet{
	position: absolute;
	width: 500px;
	height: auto;
	float: center;
	left: 75%;
	bottom: -3950px;
	opacity: 0.6;
	
}

#old-helmet-left{
	position: absolute;
	width: 500px;
	height: auto;
	float: center;
	right: 75%;
	bottom: -3950px;
	opacity: 0.6;
	
}


/*border-radius - half width of rectangle

div within a div
padding, amrgin, positon