body{font-family:'Raleway', sans-serif; background-color: lightcyan; font-size: 20px;}

.subsection {
	background-color: white}

.FontWeight .Normal {
	font-weight: normal;
}
.FontWeight .Bold {
	font-weight: bold;
}	

.FontStyle .Normal {
	font-style: normal;
}

.FontStyle .Italic {
	font-style: italic;
}

.LetterSpacing .Normal {
	letter-spacing: normal;
}
.LetterSpacing .Wide {
	letter-spacing: 5px;
}
.LetterSpacing .Narrow {
	letter-spacing: -5px;
}
.TextDecoration .Normal {
	text-decoration: normal;
}
.TextDecoration .Underline {
	text-decoration: underline;
}
.TextDecoration .LineThrough {
	text-decoration: line-through;
}
.TextDecoration .Overline {
	text-decoration: overline;
}
.TextTransform .Normal {
	text-transform: normal;
}
.TextTransform .Uppercase {
	text-transfoRm: uppercase;
}
.TextTransform .Lowercase {
	text-transform: lowercase;
}
.TextTransform .Capitalize {
	text-transform: capitalize;
}


	








	