a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
}

div h1 {
	font-size: 30pt;
	position: absolute;
	left: 70px;
	right: 800px;
	bottom: 450px;
	font-family:'Slackey', cursive;
	color: #FFFFFF;
}

div h2 {
	font-size: 35pt;
	position: absolute;
	left: 70px;
	right: 670px;
	bottom: 450px;
	font-family:'Slackey', cursive;
	color: #000000;
}

div h3 {
	font-size: 30pt;
	position: absolute;
	left: 870px;
	right: 80px;
	bottom: 340px;
	font-family:'Slackey', cursive;
	color: #FFFFFF;
}

@media screen and (max-width: 300px) {

	#imagerupaul {
		width: 30%;
		height: 100%;
		background-color: #ff1ff2;
	}
}

@media screen and (max-width: 300px) {

	#h1 {
		position: center;
		font-size: 20px;
		top: 50px;
		left: 870px;
		right: 80px;
		bottom: 340px;
	}
}

@media screen and (max-width: 300px) {

	#imagesasha {
		width: 30%;
		height: 100%;
	}
}

@media screen and (max-width: 300px) {

	#h2 {
		position: center;
		font-size: 20px;
		left: 870px;
		right: 80px;
		bottom: 340px;
	}
}


@media screen and (max-width: 300px) {

	#imagebob {
		width: 30%;
		height: 100%;
	}
}

@media screen and (max-width: 300px) {

	#h3 {
		position: center;
		font-size: 20px;
		left: 870px;
		right: 80px;
		bottom: 340px;
	}
}



